<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Form Column -->
    <div class="col-md-6 p-0 mt-5">
      <div class="p-4 border-0">
        <h2 class="text-center text-secondary">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              required
            />
          </div>

          <button
            type="submit"
            class="btn btn-secondary w-100"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
